$bodycolor-color: #222222;
$intro-color: #000101;
$text-highlight: #663399;
$text-color: #fff;

a.home-button:hover {
    background: #639;
}

h1, h2, h3, h4, h5 {
    color: $text-highlight !important;
}

header#home {
    padding: 0px;
}

.w3-hover-black i,
.w3-hover-black p {
    transition: all 0.3s;
}

.w3-hover-black:hover i,
.w3-hover-black:hover p {
    color: #701398;
}

#videoLogo {
    max-width: 120px;
    max-height: 135px;
    margin-bottom: -5px;
}

#homeBG {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

.header-text {
    margin-top: -35%;
    z-index: 1;
    margin-bottom: 25%;
    background-color: transparent !important;
}

.about-container h4.skill-cat {
    font-weight: 600;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-container .about-half {
    width: 50%;
}

.about-container .about-half .button-container {
    display: flex;
    justify-content: center;
}

.button-container {
    width: 100%;
}

.about-half.skills-container {
    padding-right: 75px;
}

.w3-half.right {
    padding-left: 25px;
}

.separator .w3-half {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px dashed;
}

.portfolio-item img {
    border-radius: 5px;
}

.portfolio-item video {
    width: 480px;
    height: 302px;
    border-radius: 5px;
}

.portfolio-content {
    //cursor: pointer;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;    
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px; 
    margin-top: -65%;
    margin-bottom: 12px;
    background: #000000c7;
    text-align: center;
    min-height: 302px;
    max-height: 302px;
    -webkit-transition: opacity 0.5s linear; 
    transition: opacity 0.5s linear;
}

.portfolio-content p {
    width: 100%;
}

.portfolio-content.day {
    margin-top: -64%;
}

.portfolio-content.wider {
    margin-top: -55%;
    min-height: 253px;
}

.portfolio-content.video {
    min-height: 310px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.portfolio-content:hover {
    opacity: 1;
}

.portfolio-content h4 {
    color: $text-color !important;
}

.portfolio-content img {
    margin-top: 15px;
    max-height: 50px;
    border-radius: 10px !important;
}

.portfolio-content p {
    margin: 0;
}

.portfolio-content p.smaller {
    font-size: 12px;
}

div#contact {
    background: #180021;
    max-width: none;
    border-top-right-radius: 50%;
    margin-top: 50px;
    margin-bottom: -15px;
    padding: 2% 22% 0% 22%;
}

#contact .copyright {
    margin-top: 25px;
    text-align: center;
}

#contact .contact-container {
    display: flex;
    justify-content: center;
}

#contact .contact-container .half-contact {
    width: 50%;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3b3b3b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}