body {
  overflow-x: hidden;
}

.w3-jumbo {
  font-size: 48px !important;
}

a.home-button:hover {
  background: #639;
}

h1, h2, h3, h4, h5 {
  color: #663399 !important;
}

header#home {
  padding: 0px;
}

.w3-hover-black i,
.w3-hover-black p {
  transition: all 0.3s;
}

.w3-hover-black:hover i,
.w3-hover-black:hover p {
  color: #701398;
}

#videoLogo {
  width: 120px;
  height: 135px;
  margin-bottom: -5px;
}

#homeBG {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.header-text {
  margin-top: -35%;
  z-index: 1;
  margin-bottom: 25%;
  background-color: transparent !important;
}

.about-container h4.skill-cat {
  font-weight: 600;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-container .about-half {
  width: 50%;
}

.about-container .about-half .button-container {
  display: flex;
  justify-content: center;
}

.button-container {
  width: 100%;
}

.about-half.skills-container {
  padding-right: 75px;
}

.sub-skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-half {
  width: 50%;
}

.skills-half.right {
  padding-left: 25px;
}

.separator .skills-half {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-half {
  width: 50%;
}

.portfolio-item {
  margin-bottom: 8px;
}

.portfolio-item,
.portfolio-item video {
  width: 480px;
  height: 302px;
}

.portfolio-item img,
.portfolio-item video {
  border-radius: 5px;
}

.portfolio-content {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 1px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -300px;
  margin-bottom: 12px;
  background: #000000c7;
  text-align: center;
  height: 302px;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.portfolio-content p {
  width: 100%;
}

.portfolio-content.video {
  height: 302px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: -308px;
  margin-left: -1px;
}

.portfolio-content:hover {
  opacity: 1;
}

.portfolio-content h4 {
  color: #fff !important;
}

.portfolio-content img {
  margin-top: 15px;
  height: 50px;
  border-radius: 10px !important;
}

.portfolio-content p {
  margin: 0;
}

.portfolio-content p.smaller {
  font-size: 12px;
}

div#contact {
  background: #180021;
  max-width: none;
  border-top-right-radius: 50%;
  margin-top: 50px;
  margin-bottom: -15px;
  padding: 2% 22% 0% 22%;
}

#contact .copyright {
  margin-top: 25px;
  text-align: center;
}

#contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .contact-container .half-contact {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.half-contact a {
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all 0.2s;
}

.half-contact a:hover,
.half-contact a:hover i {
  color: #663399;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 800px) {
  #homeBG {
    width: 275%;
  }

  .header-text {
    margin-top: -115%;
  }

  h1.w3-jumbo {
    font-size: 48px !important;
  }

  .w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small {
    display: flex;
    justify-content: center;
  }

  .about-container {
    flex-direction: column-reverse;
    padding: 0px 30px;
  }

  .about-half.skills-container,
.skills-half.right {
    padding-right: 0;
    padding-left: 0;
  }

  .portfolio-item {
    width: 350px;
    height: 230px;
  }

  .portfolio-half {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-item video {
    width: 350px;
    height: 230px;
  }

  .portfolio-content {
    margin-top: -220px;
    height: 235px;
  }

  .portfolio-content.video {
    margin-top: -230px;
    height: 235px;
  }

  .portfolio-content p {
    font-size: 12px;
  }

  .portfolio-content .button-container a {
    font-size: 12px;
    padding: 6px 14px;
    margin: 0;
  }

  .about-container .about-half {
    width: 100%;
  }

  #contact .contact-container .half-contact {
    width: 100%;
  }
}

/*# sourceMappingURL=custom.css.map */
